include README.md
include pyproject.toml
recursive-include semantys *.py
recursive-exclude semantys_ai_semantic_cache_api_client *
exclude test_local.py
prune semantys_ai_semantic_cache_api_client
prune .ruff_cache
