include README.md
include LICENSE
include pyproject.toml
recursive-include semantys_cache *.py
recursive-include semantys_cache *.pyi
recursive-include semantys_cache *.typed
recursive-include semantys_ai *.py
recursive-include semantys_ai *.pyi
recursive-include semantys_ai *.typed

