include README.md
include LICENSE
include pyproject.toml
recursive-include semantis_cache *.py
recursive-include semantis_cache *.pyi
recursive-include semantis_cache *.typed
recursive-include semantis_ai *.py
recursive-include semantis_ai *.pyi
recursive-include semantis_ai *.typed

